body{
    background-color: black; 
     color: #fff;
}
h1{
    text-align: center;
    font-family: sans-serif;
}
h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 40px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 70px;
}
